<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
  <script src="https://kit.fontawesome.com/e37a4f46b8.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Tech Blog</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn">logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer class="footer">
      <div class="rights flex-row">
        <h4 class="text-gray">
          Copyright ©2022 <a class="social-list__link" href="https://github.com/BurnsD">
            <i class="fab fa-github"></i>
          </a>
        </h4>
      </div>
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>