:root{

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
}

/*  Global Classes */

a{
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}
li{
    justify-content: center;
}
h1{
    font-size: 2.5rem;
}


h3{
    font-size: 1.3rem;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}

span{
    font-family: cursive;
}

.container{
    margin: 0 5vw;
}

p{
    font-family: var(--Lexend);
    color: var(--text-light);
}
.p-2{
    padding: 1rem 2rem;
    position: relative;
}

/* Loginstyle */

.login-body{
    margin: 0%;
    padding: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(../images/login.jpeg);
    height: 100vh;
    overflow: hidden;

    z-index: 100;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid black;
    font-size: 24px;
}
/* End of Login Style */
.signup-form {
    /* width: 250px;
    height: 250px; */
    background: rgb(255, 255, 255);
    color: #020202;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
}

/* Form style */
form{
    padding: 0 40px;
    box-sizing: border-box;

    z-index: 105;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
    color: red;
}

/* Post Styles */
.main-post-list{
    text-align: center;
    position: relative;
}

main{
    display: grid;
    grid-template-areas: inherit;
}

.title{
    text-align: center;
}
.title a{
    font-size: xx-large;
    font-family: var(--Lexend);
}
.dash-body{
    display: grid;
    grid-template-rows: repeat(2);
}
.p-content{
    font-family: var(--Abel);
    font-size: 1.3rem;
}
.meta{
    justify-content: right;
    padding-bottom: 1rem;

}
.post-grid{
    padding-bottom: 3rem;
    
}
.comments{
    padding: 1rem 2rem;

}
.comment{
    margin: 0 5px;
    padding: 2rem 2rem;
    font-family: var(--Abel);
    font-size: 1.3rem;
}

/* End of Post Styles */

