{{!-- LOG IN --}}
<div class="login-body">
  <div class="center">
    <h1>Login</h1>
    <form class="login-form">
      <div class="txt_field">
        <input type="text" required id="email-login" />
        <span></span>
        <label for="email-login">Email</label>
      </div>
      <div class="txt_field">
        <input type="password" required id="password-login" />
        <span></span>
        <label for="password-login">Password</label>        
      </div>
      <div class="pass">Forgot Password?</div>
      <input type="submit" value="Login">
      {{!-- <div class="signup_link">
        Not a member? <a href="#">Sign up</a>
      </div> --}}
    </form>
  </div>
</div>

{{!-- SIGN UP --}}

  <div class="">
    <h1>Sign up</h1>
    <form class="signup-form">
      <div class="txt_field">
        <input type="text" id="username-signup" />
        <span></span>
        <label for="username-signup">Username:</label>
      </div>
      <div class="txt_field">
        <input type="text" id="email-signup" />
        <span></span>
        <label for="email-signup">Email:</label>
      </div>
      <div class="txt_field">
        <input type="password" id="password-signup" />
        <span></span>
        <label for="password-signup">Password:</label>
      </div>
      <div>
        <input type="submit" value="Signup">
      </div>
    </form>
  </div>


<script src="/javascript/login.js"></script>